/tmp
/test

.DS_Store
.project
.settings
audit/test/testchain/geth
audit/test/testchain/geth.ipc
audit/test/testchain/history
audit/test/contracts
audit/presaleTest/testchain/geth
audit/presaleTest/testchain/geth.ipc
audit/presaleTest/testchain/history
audit/presaleTest/contracts
private
